#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../../assets/dark-background-abstract-background-network-3d-background-7680x4320-8324.png");
  background-size: cover;
  background-position: center;
}
#landing-page {
  text-align: center;
}
